html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;

}

header {
  background-color: #4d4c85;
  color: white;
  padding: 0.8em;
  text-align: left;
  padding-left: 30em;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

nav ul {
  background-color: #c3b9aa;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 25em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: #3a3963;
  font-weight: bold;
  padding: 0.8em;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  color: #ffffff;
  background-color: #4d4c85;
}

main {
  flex: 1;
}

footer {
  background-color: #4d4c85;
  text-align: center;
  padding: 1.5em;
  font-size: 0.9em;
  border-top: 2px solid #4d4c85;
}

address a {
  color: #b34747;
  text-decoration: none;
}

address a:hover {
  text-decoration: underline;
}


.registro-container {
  background-color: #f9f9f9;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 500px;
  margin: 2em auto;
}

.registro-container h2 {
  text-align: center;
  color: #4d4c85;
  margin-bottom: 1em;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.4em;
  color: #3a3963;
  font-weight: 500;
}

.form-group input {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.7em;
  transition: border 0.3s ease;
}

.form-group input:focus {
  border-color: #4d4c85;
  outline: none;
}

.btn {
  background-color: #4d4c85;
  color: white;
  padding: 0.8em;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6b69b1;
}

.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }

.toggle-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el checkbox y el texto */
}
